.login-screen {
    display: flex;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    flex:1;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

img {
    width: 10%;
    height: auto;
    margin: 2%;
}

.title-wrapper {
    display: flex;
    grid-template-columns: 1fr, 1fr;
    align-items: center;
    justify-content: center;
    flex:1;
}

h1.title {
    font-size: 5vw;
    font-weight: 1900;
    color: transparent;
    letter-spacing: 0.1em;
    background: repeating-linear-gradient(70deg, #fff,#191414 20%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Roboto', sans-serif;
}
h1.titleText {
    font-size: 5vw;
    font-weight: 1900;
    color: #fff;
    letter-spacing: 0.1em;
    font-family: 'Roboto', sans-serif;
}

p.description {
    font-size: 2vw;
    color: white;
    padding: 1.5vw;
    font-family: 'Roboto', sans-serif;
}
